{% extends 'store/layouts/main.html' %} 
{% block content %}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Get 24/7 Support</p>
                    <h1>Contact us</h1>
                </div>
            </div>
        </div>
    </div>
</div>


{% if message_name %}
    <center class="mt-100"  >
        <h1>Thanks {{ message_name}} !</h1>
        <p>We have recived your email and will respond shortly ......</p>
    </center>
    <br/><br/>
{%else%}
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title">
                    <h2>Have you any question? </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, ratione! Laboriosam est, assumenda. Perferendis, quo alias quaerat aliquid. Corporis ipsum minus voluptate? Dolore, esse natus!</p>
                </div>
                 <div id="form_status"></div>
                <div class="contact-form">
                    <form action="{% url 'contactus' %}" method="POST">
                        {% csrf_token %}
                        <p>
                            <input type="text" name="message_name" placeholder="Your Name">
                            <input type="email" placeholder="Email" name="message_email" id="email">
                        </p>
                        <p>
                            <input type="tel" placeholder="Phone" name="message_phone" id="phone">
                            <input type="text" placeholder="Subject" name="message_subject" id="subject">
                        </p>
                        <p><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea></p>
                        <input type="hidden"  />
                        <p><input type="submit" value="Submit"></p>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-form-wrap">
                    <div class="contact-form-box">
                        <h4><i class="fas fa-map"></i> Shop Address</h4>
                        <p>Thanh Trì <br> Hà Nội</p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="far fa-clock"></i> Shop Hours</h4>
                        <p>Thứ 2 - Thứ 6: 8:00 - 21:00 <br> Thứ 7 - Chủ Nhật: 10:00 - 20:00</p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="fas fa-address-book"></i> Contact</h4>
                        <p>Phone: 0344134844 <br> Email: phanthanhduy2610@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endif %} 
<!-- end contact form -->

<!-- find our location -->
<div class="find-location blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> <i class="fas fa-map-marker-alt"></i> Find Our Location</p>
            </div>
        </div>
    </div>
</div>
<!-- end find our location -->

<!-- google map section -->
<div class="embed-responsive embed-responsive-21by9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1863.191334891904!2d105.83778994684158!3d20.937142256326045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1707707362590!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{%endblock%}

