{% extends 'store/layouts/main.html' %} {% block content %}
<div class="more-products mb-100">
  <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="breadcrumb-text">
            <p>Fresh and Organic</p>
            <h1>Wishlist</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="card-body wishlistdata">
            {% if wishlist %}
             {%for item in wishlist %}
            <div class="row product_data">
              <div class="col-md-2 my-auto">
                <img
                  src="{{item.product.product_image.url }}"
                  height="70px"
                  width="70px"
                  alt="Image here"
                />
              </div>
              <div class="col-md-3 my-auto">
                <h6>{{item.product.name}}</h6>
              </div>
              <div class="col-md-2 my-auto">
                <h6>$ {{item.product.selling_price | stringformat:"d"}}</h6>
              </div>
              <div class="col-md-3 my-auto">
                <input
                  type="hidden"
                  class="prod_id"
                  value="{{item.product_id}}"
                />
                {%csrf_token%}
                <a
                  href="{% url 'productview' item.product.category.slug item.product.slug %}"
                  class="btn btn-primary"
                  ><i class="fa-solid fa-eye"></i> View Product</a
                >
              </div>
              <div class="col-md-2 my-auto">
                <button class="btn btn-danger delete-wishlist-item">
                  <i class="fa-solid fa-trash"></i>Remove
                </button>
              </div>
            </div>
            {% endfor%} 
            {% else %}
            <h4>Your wishlist is empty</h4>
            {% endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
