{% load static%}
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>From juicy oranges to exotic dragon fruits,
                         we offer quality produce delivered to your doorstep. 
                         Explore our site for a delightful fruit 
                         shopping experience!
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>Address: Thanh Trì-Hà Nội</li>
                        <li>Email: phanthanhduy2610@gmail.com</li>
                        <li>Phone: 0344134844</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'aboutus' %}">About</a></li>
                        <li><a href="{% url 'collections' %}">Shop</a></li>
                        <li><a href="{% url 'news_list' %}">News</a></li>
                        <li><a href="{% url 'contactus' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list 
                        to get the latest updates.
                    </p>
                    <form action="#">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
            
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100004675096481" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100004675096481" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100004675096481" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100004675096481" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100004675096481" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>